/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* a {
    text-decoration: none;
    margin: 0;
}

body {
    background-color: black;
}


.livingRoom {
    width: 96.3%;
    height: 100vh;
    position: relative;
    margin-top: 5%;
}

h1 a {
    color: black;
    font-family: 'Syncopate', 'sans-serif';
    font-weight: 400;
    position: absolute;
    top: 90px;
    left: 25px;
    font-size: 45px;
}

.image-responsive {
    margin: 0 -60px;
}

.downArrow img {
    width: 50px;
    height: 50px;
    margin-left: 50%;
    position: absolute;
    z-index: 400;
    top: 554px;
} 

#col-xs-12 img {
    width: 100%;
    height: 100vh;
}

#col-xs-12 h2 {
    position: absolute;
    top: 105%;
    right: 15%;
    color: white;
    font-family: 'Syncopate';
    font-size: 36px;
}

#col-xs-12 .about_us_title {
    position: absolute;
    top: 145%;
    right: 52%;
    color: white;
    font-family: 'Syncopate';
    font-size: 24px;
}

#col-xs-12 .paragraph {
    position: absolute;
    top: 145%;
    right: 0%;
    color: white;
    font-family: 'Syncopate';
    font-size: 17px;
    padding: 124px;
    margin-left: 19%;
}



/*Carousel*/
.item img {
    width: 100%;
    height: 100vh;
    margin: auto;
}

/*.item .cardboard img {
    width: 90%;
    height: 80vh;
    margin: auto;
}*/

.carousel-inner img {
    opacity: 0.95;
    width: 60%;
}

.carousel-caption, h5 {
  padding: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}

.color_black {
  color: white;
  font-family: 'Syncopate';
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
}

#made_in {
  color: red;
  font-family: 'Syncopate';
  font-weight: 700;
  font-size: 36px;
}

/*Sticky NAV*/

.sticky-nav-wrapper {
  height: 40px;
  background-color: black;
}

nav {
  width: 100%;
  text-align: center;
  transition: all 300ms ease-out;
  z-index: 400;
  font-family: 'Syncopate';
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
  display: inline-block;
  background-color: black;
  color: white;
}
nav a {
  display: inline-block;
  margin: 1rem;
  padding: .25rem 0;
  text-decoration: none;
  color: white;
}

.navbar-default {
    background-color: black;
}
/*our Shop*/

.ourShop img {
    width: 360px;
    height: 300px;
    margin: 0;
    margin-left: 10%;
}

/*.ourShop img:hover {
    opacity: 0.9;
    transition: all s ease-in-out;
}*/

.ourShop p {
    font-family: 'Syncopate';
    font-size: 15px;
    color: white;
}

.ourShop .p1 {
    margin: 0;
    margin-top: 21%;
    margin-left: 80px;
}

.ourShop .p2 {
    margin-left: 10px;
    margin-top: 21%;
}

.ourShop .tables {
    margin-top: 100px;
}

.ourShop .outdoor {
    margin-left: 30%;
    margin-top: 40px;
    transform: skew(-17deg);
}

.ourShop .kitchen {
    margin-top: 40px;
}

/*.overlay-wrapper {
  position: relative;
  width: 360px;
}*/

/*.overlay {
  width: 400px;
  height: 300px;*/

  /*background-color: red;*/
  /*opacity: 0.5;*/
/*  position: absolute;
  top: 0;
  transition: opacity 400ms ease-in-out;
}*/

/*.overlay-wrapper:hover .overlay {
  opacity: 1;
}
*/


/*location*/
.location_image {
    margin: 12% 0;
    opacity: 0.65;
    position: absolute;
    width: 100%;
    margin-left: 5.3%;
}

.location_text {
    text-align: center;
    position: relative;
    font-family: 'Syncopate';
    color: black;
    font-size: 32px;
    border: 3px solid black;
    margin-top: 360px;
    margin-left: -7%;
    font-weight: 700
}







i {
    color: black;
    font-size: 24px;
}


/*CONTACT US form*/
.contact_me {
    text-align: center;
    color: white;
    font-family: 'Syncopate';
    text-decoration: underline;
    margin-top: 30%;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto 20px;
}

form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  resize: none;
}

form input[type="submit"] {
  color: white;
  background: #055075;
  cursor: pointer;
}

form textarea {
  height: 188px;
}

.column {
  float: left;
  width: 49%;
  margin-bottom: 1em;
}

.column:first-of-type {
  margin-right: 2%;
}

.message {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  padding: 10px;
  margin: 25px auto 0;
  display: block;
  max-width: 600px;
/*  border-radius: 8px;*/
  display: none;
  color: white;
}

.error {
  padding-left: 20px;
  background-color: #fc5846;
}

.error li:before {
  content: '- ';
}

.error li:first-child:before {
  content: '';
}

.error li:first-child {
  margin-left: 0;
  content: '';
}

.error li {
  margin-left: 40px;
}

li {
  list-style: none;
}
 
.success {
  background-color: #1bb580;
}
 
.error.visible, .success.visible {
  display: block;    
}

/*end of Contact_me Form*/


/*FOOTER*/

.footer {
  background-color: black;
  text-decoration: none;
}

footer a {
  color: white;
  font-family: 'Syncopate';
  font-size: 15px;
  margin-left: 30%;
  /*text-decoration: none;*/
}

footer p {
  margin-left: 25%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}








/*Salvattore TEST CSS code*/

/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
    #timeline[data-columns]::before {
        content: '1 .column';
    }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    #timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 851px) {
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}


/*END- Salvattore TEST*/




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
